:root{
  --navy:#38419D ;
  --blue:#3887BE;
  --teal:#52D3D8;
  --darkNavy:#200E3A;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*  icon style */

.employers-logo{
  color: white;
  background-color: var(--teal);
  padding: 15px 15px;
  border-radius: 50%;
}
.directors-logo{
  background-color: var(--blue);
  padding: 15px 14px;
  border-radius: 50%;
  text-align: center;
}
.chefs-logo{
  background-color: orange;
  padding: 15px 20px;
  border-radius: 50%;
  text-align: center;
}
.atelier-logo{
  background-color: green;
  padding: 15px 20px;
  border-radius: 50%;
  text-align: center;
}
.fa{
  font-size: 30px;
  transition: all .3s ease-in;
}
/* body */
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-x: hidden;
}
/* sidebar style */
.menu span{
  display: none;
  color: white;
  transition: all .3s ease-in;
}
.logo{
  background: url(logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90%;
  height: 10%;
  transition: all .3s ease-in;
}
.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin-top: 50px;
  height: 50%;
  width: 100%;
  padding: 20px;

}
a{
  display: flex;
  align-items: center;
  gap:  15px;
  width: 150px;
  height: 45px;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
}
li{
  transition: padding .2s ease;
}
.sidebar{
  position: relative;
  top: 0;
  left: 0;
  width: 90px;
  height: 120vh;
  background: linear-gradient(to bottom, var(--teal), var(--blue),var(--navy)); 
  overflow: hidden;
  transition: all .3s ease-in ;
}
.sidebar:hover{
  width: 250px;
}
.sidebar:hover .menu li .fa{
  font-size: 20px;
}
.sidebar:hover .menu li a span{
  display: block;
}
.sidebar:hover .logo{
  width: 100%;
  height: 20%;
}
a:hover{
  background: linear-gradient(to left, var(--teal), var(--blue),var(--navy)); 
}
li:hover{
  padding-left: 15px;
}
/* container */
.container{
  width: 100%;
  height: 260vh;
  padding: 10px;
  background-color: rgba(202, 199, 199, 0.5);
}
/* header */
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background: linear-gradient(to left, var(--navy), var(--darkNavy));
  border-radius: 20px;
  padding: 0px 20px ;
}
.title{
  color: white;
}
.span-1{
  font-size: 20px;

}
h2{
  font-weight: bolder;
  color: var(--teal);
}
.search-logo{
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-bar{
  display: flex;
  align-items: center;
  background-color: white ;
  border-radius: 20px;
  height: 150%;
  padding: 0px 5px;
}
.search-bar i{
  color: grey;
  font-size: 20px;
}
.search-bar:hover i{
  transform: rotate(360deg);
}
#search{
  width: 85%;
  padding: 10px;
  font-size: 15px ;
  border: none;
  outline: none;
}
.data-container{
  background-color: var(--teal);
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 60px;
}
h3{
  font-size: 15px;
  color: white;
}
.data{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;

}
.overview-data{
  width: calc((100% - 90px)/5);
  height: 80%;
  background-color: var(--darkNavy);
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all .2s linear;

}
.overview-data:hover{
  margin-bottom: 10px;
}
.employers-container,.directors-container,.chefs-container,.atelier-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  width: 100%;
}
.directors-data{
  background-color: var(--navy);
  border-inline: 4px solid whitesmoke;
  width: 30%;
}
.size{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 100px;
}
.size>span{
  font-size: 25px;
  color: var(--teal);
}

.directors_chose_name{
  margin-top: 20px;
  height: 15vh;
  width: 100%;
  background-color: var(--blue);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.directors_chose_name h1{
  color: whitesmoke;
}
.chose_erea label{
  font-size: 20px;
  color: #200E3A;
  margin-right: 15px;
  border-radius: 5px;
}

select{
  position: relative;
  right: 80px;
  font-size: 20px;
  border: none;
  appearance: none;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  color: #200E3A;
  background-color: #52D3D8;
  padding: 0 30px 0 15px;
}

.table_title table1 , .table1{
  padding-top: 20px;
}
.table_title{
  color: #200E3A;

}
table{
  padding-top: 30px;
  width: 100%;
  text-align: center;
  border-spacing: 2px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
}
td,th{
  background: var(--teal);
  height: 40px;
  border-radius: 8px;
  padding: 10px;
}
th{
  background: var(--darkNavy);
  color: #fff;
}
.img_profil{
  width: 50%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  flex-shrink: 0;
 
}
.button i{
  width: 100%;
  size: 80px;
  cursor: pointer;
  
}
.button{
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  border: none;
  filter: blur(1px);
}
.button:hover{
  background-color: white;
  cursor: pointer;
  animation: alternate;
  filter: none;
}
/*
.graph_box{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap:30px;
  min-height: 200px;
}
.graph_box .Box{
  position: relative;
  background:whitesmoke;
  padding: 20px;
  width: 95%;
  box-shadow: 0 7px 25px rgba(0,0,0,0,08);
  border-radius: 20px;
}*/


